@media (max-width: 1170px) { 
	.footer-contacts span {
		width: 100%;
		display: inline-block;
	}


}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
	.footer-logo {
		margin: 0 auto;
		display: block;
	}

	.footer-contacts {
		text-align: center;
	}

	.footer-social {
		padding: 20px 0;
	}

	.footer-content {
		padding: 20px 0;
	}
}