@font-face {

    font-family: Myriad Pro; 

    src: url(../fonts/myriad-pro/MyriadProRegular.ttf); 
}


body {
	background-color: #d9d9d9;
	font-family: Myriad Pro;

}

.container {
	max-width: 1140px;
}


a:hover {
	text-decoration: none;
	opacity: 0.9;
}

/* header start*/

.header-info {
	background-color:  #0a0a0a;
	width: 100%;
	min-height: 48px;
}

.site-contacts {
	margin-top: 11px;
	display: inline-block;
	float: left;
}

.contact-phone {
	color:  #aaaaaa;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 24px;
	display: inline-block;
	padding-left: 20px;
	background: url('../img/phone.png') 0 center no-repeat;
	margin-right: 26px;
}

.contact-mail {
	color:  #aaaaaa;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 24px;
	display: inline-block;
	padding-left: 20px;
	background: url('../img/mail.png') 0 center no-repeat;
}

.site-contacts a:hover {
	color:  #aaaaaa;
}

.header-social {
	margin-top: 12px;
	float: right;
	margin-right: 17px;
}

.languages {
	margin-top: 10px;
	float: right;
}

.languages a{
	color:  #aaaaaa;
	font-size: 14px;
	line-height: 36px;
	margin-left: 7px;
}

.header-nav {
	min-height: 83px;
	background-color:  #fe9900;
	width: 100%;
	border-top: 1px solid #fe9900;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    inset 0px 1px 0px 0px rgba(0, 0, 0, 1);
	box-shadow:         inset 0px 1px 0px 0px rgba(0, 0, 0, 1);
}

.languages a.active {
	color: #fe9900;
}

.header-logo {
	background: url('../img/logo-header.png') center no-repeat;
	width: 198px;
	height: 43px;
	display: inline-block;
	margin-top: 19px;
}

.navbar-nav>li>a {
	color:  #0a0a0a;
	font-size: 20px;
	line-height: 36px;
	text-align: left;
	font-weight: 600px;
	text-transform: uppercase;
	padding: 10px 28px;
}

.navbar-nav>li:last-child>a {
	padding-right: 0;
}

.navbar-nav>li.active>a {
	color: #ffffff;
}

.navbar-right {
	margin-top: 14px;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
}

/* header end */


/* footer start*/

.footer-content {
	padding: 42px 0;
}

.footer-logo {
	background: url('../img/Logo_footer.png') center no-repeat;
	width: 199px;
	height: 43px;
	display: inline-block;
}

.footer-contacts {
	color:  #c0c0c0;
	font-size: 14px;
	letter-spacing: 0.35px;
	text-align: right;
	float: right;
}

.footer-contacts span {
	font-size: 18px;
}

.footer-content {
	background-color: #1f2127;
}

.footer-social {
	display: inline-block;
	text-align: center;
	padding-top: 5px;
}

/* footer end */

/* index slider start */

.index-slider .carousel-inner>.item>img {
	width: 100%;
}

.index-slider .carousel-indicators li {
	display:inline-block;
    width: 40px;
    height: 5px;
    background-color: #CCC;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius: 0;
    border: 0;
}

.index-slider .carousel-indicators li.active {
	background-color:#fe9900;
}


.index-slider .carousel-control {
    display:inline-block;
    width:92px;
    height:92px;
    line-height:56px;
    top: 50%;
    margin-top:-46px;
    z-index:10;
    cursor:pointer;
    -ms-transform:rotate(45deg);/*IE 9*/
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    backface-visibility:hidden;
    border: 1px solid rgba(225, 225, 225, 0.5);
    background-image: none;
    opacity: 1;
}

.index-slider .carousel-control::before {
    position: absolute;
    top: 35px;
    left: 32px;
    content: "";
    display: inline-block;
    width: 30px;
    height: 21px;
    
}
.index-slider .carousel-control.left {
	float: left;
	margin-left: 36px;
}
.index-slider .carousel-control.right {
	float: right;
	margin-right: 36px;
}
.index-slider .carousel-control.left::before {
	background: url('../img/index_slider_c_n.png') center no-repeat;
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

.index-slider .carousel-control.left:hover::before {
	background: url('../img/index_slider_prev_c_a.png') center no-repeat;
}

.index-slider .carousel-control.right::before {
	background: url('../img/index_slider_next_c_n.png') center no-repeat;
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

.index-slider .carousel-control.right:hover::before {
	background: url('../img/index_slider_c_a.png') center no-repeat;
}

.positionRelative {
	position: relative;
}

.slider-control {
	position: absolute;
	top: 50%;
    margin-top:-46px;
    width: 100%;
}

.slide-control-container {
	position: relative;
}

.index-slider .carousel-inner::before {
    background: url('../img/Rectangle2.png') center;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.35;
    position: absolute;
    z-index: 2;
}

/* index slider end */


/* socials */

/* header */

.header-social a, .posts-share a {
	background-color:  #6a6a6a;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: inline-block;
}

a.facebook {
	background: url('../img/social_header2.png') 9px 6px no-repeat #fe9900;

}
a.twitter {
	background: url('../img/social_header2.png') -21px 6px no-repeat #fe9900;
	margin-left: 3px;
}
a.facebook:hover {
	background: url('../img/social_header2.png') 9px 6px no-repeat #6a6a6a;
}
a.twitter:hover {
	background: url('../img/social_header2.png') -21px 6px no-repeat #6a6a6a;
}

/* footer */

.footer-social a{
	border-radius: 50%;
	background-color:  #aaaaaa;
	width: 34px;
	height: 33px;
	display: inline-block;
	margin: 0 3px;
}

.facebook-footer {
	background: url('../img/footer_social.png') 12px 8px no-repeat #6a6a6a;
}

.twitter-footer {
	background: url('../img/footer_social.png') -29px 8px no-repeat #6a6a6a;
}

.skype-footer {
	background: url('../img/footer_social.png') -71px 8px no-repeat #6a6a6a;
}

/* share */

a.share-facebook {
	background: url('../img/social_header2.png') 9px 6px no-repeat #6a6a6a;
}
a.share-twitter {
	background: url('../img/social_header2.png') -21px 6px no-repeat #6a6a6a;
}
a.share-facebook:hover {
	background: url('../img/social_header2.png') 9px 6px no-repeat #fe9900;
}
a.share-twitter:hover {
	background: url('../img/social_header2.png') -21px 6px no-repeat #fe9900;
}


/* socials end */

.posts-img {
	max-width: 100%;
	margin-bottom: 15px;
}

.posts-data {
	color:  #ffffff;
	font-size: 24px;
	padding: 0px 10px;
	background-color:  #ff7f00;
	line-height: 45px;
	display: inline-block;
	float: left;
	margin-right: 15px;
}

.posts-title {
	color:  #2a1e1e;
	font-size: 24.94px;
	font-weight: 400;
	line-height: 25.919px;
	float: left;
	text-transform: uppercase;
}

.posts-line {
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #e7e7e7;
	width: 100%;
	margin: 15px 0px;
	display: inline-block;
}

.posts-text {
	color:  #2a1e1e;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

a.continue {
	color:  #ff7f00;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	text-decoration: underline;
}

.posts-share {
	color:  #2a1e1e;
	font-size: 16px;
	line-height: 22px;
}

.posts-share span{
	margin-right: 10px;
}

.posts-share a {
	line-height: 30px;
	margin: -6px 0;
}

.one-posts {
	margin-bottom: 30px;
}

.index-content {
	padding: 30px 0;
	padding-bottom: 45px;
}

.next-training-title {
	color:  #454545;
	font-size: 23px;
	line-height: 40px;
	text-transform: uppercase;
	margin: 20px 0;
}

.next-training div{
	color:  #2a1e1e;
	font-size: 16px;
	line-height: 30px;
	padding-left: 30px;

}

.training-title {
	background: url('../img/info_icons2.png') 0px 8px no-repeat;
}

.training-data {
	background: url('../img/info_icons2.png') 0px -21px no-repeat;
}

.training-time {
	background: url('../img/info_icons2.png') 0px -50px no-repeat;
}

.training-link {
	background: url('../img/info_icons2.png') 0px -79px no-repeat;
}
.training-link a {
	text-decoration: underline;
	color:  #2a1e1e;
	font-size: 16px;
}

.training-link a:hover {
	color: #ff7f00;
}

a.all-training-link {
	color:  #ff7f00;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	float: right;
	text-transform: uppercase;
}

a.corporate-clients {
	width: 100%;
	color:  #ffffff;
	font-size: 26px;
	font-weight: 400;
	line-height: 35px;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #f2a648;
	padding: 20px 0px;
	-webkit-box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    inset 1px 1px 3px 0px rgba(255, 255, 255, 1);
	box-shadow:         inset 1px 1px 3px 0px rgba(255, 255, 255, 1);
	background-color: #f2a648;
	background: rgba(253,178,37,1);
	background: -moz-linear-gradient(top, rgba(253,178,37,1) 0%, rgba(255,131,3,1) 67%, rgba(255,127,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,178,37,1)), color-stop(67%, rgba(255,131,3,1)), color-stop(100%, rgba(255,127,0,1)));
	background: -webkit-linear-gradient(top, rgba(253,178,37,1) 0%, rgba(255,131,3,1) 67%, rgba(255,127,0,1) 100%);
	background: -o-linear-gradient(top, rgba(253,178,37,1) 0%, rgba(255,131,3,1) 67%, rgba(255,127,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,178,37,1) 0%, rgba(255,131,3,1) 67%, rgba(255,127,0,1) 100%);
	background: linear-gradient(to bottom, rgba(253,178,37,1) 0%, rgba(255,131,3,1) 67%, rgba(255,127,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb225', endColorstr='#ff7f00', GradientType=0 );
}

a.all-posts {
	color:  #2a1e1e;
	font-size: 16px;
	line-height: 34px;
	background-color:  #aaaaaa;
	width: 100%;
	height: 34px;
	display: inline-block;
	text-align: right;
	padding: 0px 20px;
	text-transform: uppercase;
}